<div class="modal-header">
  <h5 class="modal-title"><span class="modal-post-title">{{ userComplete.title }}</span></h5>
  <button type="button" class="close" data-dismiss="modal" (click)="closeModal('dismiss')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><span class="published-by">Post pubblicato da: {{userComplete.name}} alias <span
    class="modal-color-red">{{userComplete.username}}</span></span></p>
  <p><span class="modal-post-body">{{ userComplete.body }}</span></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('close')">Close</button>
</div>
